@model IEnumerable<CarRental.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Invoices</h1>

<p>
    <a class="details-buttonCreate btn" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservation.Id)
            </td>
            <td>
                    <a asp-action="Edit" class="details-button w-20 btn" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="details-button w-20 btn" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" class="w-20 btn-danger btn" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
